h1{

	height: 100%
	margin:0;
	text-align:center;
	width:100%
}

body{
	background-color:lightgrey;
	font-weight:normal;
	font: normal 16px Times New Romans, Times, serif
	line-height:1.6em;
	margin:0;
font-family: "Times New Romans," Times, serif;
}


h1{
	font-size:20px
	text-align:center;
	font-family: "Times New Romans," Times, serif;
}
	
	h2{ font-size:18px
		text-align:center;
	font-family: "Times New Romans," Times, serif;
	

	}

h3{
	font-size:16px
	text-align:center;
	font-family: "Times New Romans," Times, serif;
	
}

h4{
	font-size:12px
	text-align:center;
	font-family: "Times New Romans," Times, serif;
	
}

P{ 
font-size: 12PX;
text-align:right;

}

P{
	font-size:12px;
	text-align:right;
		
}
